@theme inline {
  --color-cobalt2-bg: oklch(from #193549 l c h);
  --color-cobalt2-bg-dark: oklch(from #15232d l c h);
  --color-cobalt2-bg-dark1: oklch(from #122738 l c h);
  --color-cobalt2-bg-float: var(--color-cobalt2-bg-dark);
  --color-cobalt2-bg-highlight: oklch(from #1f4662 l c h);
  --color-cobalt2-bg-popup: var(--color-cobalt2-bg-dark);
  --color-cobalt2-bg-search: var(--color-cobalt2-blue0);
  --color-cobalt2-bg-sidebar: var(--color-cobalt2-bg-dark);
  --color-cobalt2-bg-statusline: var(--color-cobalt2-bg-dark);
  --color-cobalt2-bg-visual: oklch(from #0050a4 l c h);
  --color-cobalt2-black: oklch(from #142a3a l c h);
  --color-cobalt2-black-bright: oklch(from #0050a4 l c h);
  --color-cobalt2-blue: oklch(from #0088ff l c h);
  --color-cobalt2-blue-bright: oklch(from #0088ff l c h);
  --color-cobalt2-blue0: oklch(from #0050a4 l c h);
  --color-cobalt2-blue1: oklch(from #80fcff l c h);
  --color-cobalt2-blue2: oklch(from #027dff l c h);
  --color-cobalt2-blue5: oklch(from #9effff l c h);
  --color-cobalt2-blue6: oklch(from #e1efff l c h);
  --color-cobalt2-blue7: oklch(from #0d3a58 l c h);
  --color-cobalt2-border: var(--color-cobalt2-black);
  --color-cobalt2-border-highlight: oklch(from #0088ff l c h);
  --color-cobalt2-comment: oklch(from #0088ff l c h);
  --color-cobalt2-cyan: oklch(from #9effff l c h);
  --color-cobalt2-cyan-bright: oklch(from #80fcff l c h);
  --color-cobalt2-dark3: oklch(from #5f7e97 l c h);
  --color-cobalt2-dark5: oklch(from #aaaaaa l c h);
  --color-cobalt2-diff-add: oklch(from #20563a l c h);
  --color-cobalt2-diff-change: oklch(from #154164 l c h);
  --color-cobalt2-diff-delete: oklch(from #453848 l c h);
  --color-cobalt2-diff-text: var(--color-cobalt2-blue7);
  --color-cobalt2-error: var(--color-cobalt2-red1);
  --color-cobalt2-fg: oklch(from #ffffff l c h);
  --color-cobalt2-fg-dark: oklch(from #e1efff l c h);
  --color-cobalt2-fg-float: var(--color-cobalt2-fg);
  --color-cobalt2-fg-gutter: oklch(from #3b5364 l c h);
  --color-cobalt2-fg-sidebar: var(--color-cobalt2-fg-dark);
  --color-cobalt2-git-add: oklch(from #3c9f4a l c h);
  --color-cobalt2-git-change: oklch(from #ffc600 l c h);
  --color-cobalt2-git-delete: oklch(from #f44542 l c h);
  --color-cobalt2-git-ignore: var(--color-cobalt2-dark3);
  --color-cobalt2-green: oklch(from #a5ff90 l c h);
  --color-cobalt2-green-bright: oklch(from #3ad900 l c h);
  --color-cobalt2-green1: oklch(from #3ad900 l c h);
  --color-cobalt2-green2: oklch(from #3c9f4a l c h);
  --color-cobalt2-hint: var(--color-cobalt2-teal);
  --color-cobalt2-info: var(--color-cobalt2-blue2);
  --color-cobalt2-magenta: oklch(from #fb94ff l c h);
  --color-cobalt2-magenta-bright: oklch(from #fb94ff l c h);
  --color-cobalt2-magenta2: oklch(from #ff0088 l c h);
  --color-cobalt2-orange: oklch(from #ff9d00 l c h);
  --color-cobalt2-purple: oklch(from #9a5feb l c h);
  --color-cobalt2-rainbow1: var(--color-cobalt2-blue);
  --color-cobalt2-rainbow2: var(--color-cobalt2-yellow);
  --color-cobalt2-rainbow3: var(--color-cobalt2-green);
  --color-cobalt2-rainbow4: var(--color-cobalt2-teal);
  --color-cobalt2-rainbow5: var(--color-cobalt2-magenta);
  --color-cobalt2-rainbow6: var(--color-cobalt2-purple);
  --color-cobalt2-rainbow7: var(--color-cobalt2-orange);
  --color-cobalt2-rainbow8: var(--color-cobalt2-red);
  --color-cobalt2-red: oklch(from #ff628c l c h);
  --color-cobalt2-red-bright: oklch(from #ff628c l c h);
  --color-cobalt2-red1: oklch(from #f44542 l c h);
  --color-cobalt2-teal: oklch(from #80ffbb l c h);
  --color-cobalt2-todo: var(--color-cobalt2-blue);
  --color-cobalt2-warning: var(--color-cobalt2-yellow);
  --color-cobalt2-yellow: oklch(from #ffc600 l c h);
  --color-cobalt2-yellow-bright: oklch(from #ffc600 l c h);
}